main .news {
    width: 800px;
    margin: 0px auto;
    max-width: 100%;
}
main .postNews{
    border-color:var(--paragraph) !important;
    box-shadow: 0px 1px 3px var(--paragraph);
}
main .newsCard,
main .postNews {
    border: solid 1px var(--bg-secondary);
    padding: 20px 24px;
    border-radius: 6px;
    margin-bottom: 28px;
}

main .postNews .info {
    display: flex;
    align-items: start;
    position: relative;
}


main .postNews textarea:focus {
    outline: none;
    color: black;
    border-color: var(--bg-secondary);
}

main .postNews .info  i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--bg-secondary);
    margin-left: 10px;
    position: absolute;
    right: 0px;
    bottom: 12px;
}

main .postNews textarea {
    box-sizing: border-box; 
    flex: 1;
    padding: 8px 16px;
    resize: none;
    line-height: 24px;
    height: 44px;
    margin-left: 12px;
    color: var(--paragraph);
    transition: var(--time);
    overflow: hidden;
    border: solid 1px var(--paragraph);
    border-radius: 6px;
}


main .newsCard .info>i {
    flex: 1;
    text-align: end;
    font-size: 22px;
    cursor: pointer;
}

main .info {
    display: flex;
}

main .newsCard .pfp,
main .postNews .pfp {
    width: 45px;

}

main .wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

main .newsCard .author {
    font-weight: bold;
    font-size: 15px;
    color: var(--bg-color);
}

main .newsCard .date {
    font-size: 14px;
    color: var(--bg-gray);
}

main .newsCard .description {
    font-size: 15px;
    line-height: 1.7;
    margin-top: 16px;
    margin-bottom: 0;
    color: black;
}