main.light{
    --bg-color: white;
    --bg-secondary: white;
    --white:black;
    --black:black;
    color: var(--black);
}

input:focus{
    outline: none;
}
main{
    padding: 28px 20px;
    color: var(--gray);
}
main .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    color: white;
    margin-bottom: 40px;
}
main.light .header{
    color: black;
}
main .header span{
    font-size: 18px;
    user-select: none;
}
main .header i{
    font-size: 18px;
    cursor: pointer;
    color: var(--logo2);
}
main.light .header i{

    color: var(--black);
}

main .all{
    background-color: var(--bg-secondary);
    border-radius: 12px;
    box-shadow: 1px 1px 1px 0px #101934;
    border: solid 0.6px #343B4F;
}
main.light .all{
    box-shadow: 0px 0px 0px 0px #101934;
}
main .all .dt-search input {

    padding: 8px 8px 8px 40px;
    font-size: 14px;
}
main .all .dt-search input::placeholder {
    font-size: 14px;
}

main .all .dt-search i.fa-magnifying-glass {
    position: relative;
    right: -30px;
}

.dt-type-numeric ,.dt-type-date{
    text-align: start !important;
}
main table{
    display: none;
}
main table thead{
    color: white;
    font-size: 15px;
    background-color: var(--bg-secondary);
}
main.light table thead{
    color: var(--logo2);
}
main table th[aria-sort]{
    color: var(--logo3);
}
main table tbody{
    font-size: 14px;
}
main table tbody td:first-of-type,
main table thead th:first-of-type
{
    padding-left: 28px;
    
}
main table tbody td:last-of-type,main table thead th:last-of-type{
    padding-right: 28px;
}
main table tbody tr:nth-child(odd){
    background-color: var(--bg-color);
}
main  .dt-layout-row:not(main  .dt-layout-table){
    padding: 8px 28px;
}
main span.paging{
    color: var(--logo3);
}
main .dt-length, main .dt-search > label{
    font-size: 14px;
    color: white !important;
}
main.light .dt-length, main.light .dt-search > label{
    color: black !important;
}
main .dt-search i{
    color: var(--logo3);
}
main .dt-info{
    font-size: 14px;
    color: white !important;
}
main.light .dt-info {
    font-size: 14px;
    color: black !important;
  }
main .dt-input{
    margin-left: 10px;
    color: white !important;
    background-color: var(--bg-secondary) !important;
    border: solid 1px #0B1739 !important;
    box-shadow: 1px 1px 1px 0px #101934 ;
}
main.light .dt-input{
    color: black !important;
    box-shadow: 0px 0px 0px 0px #101934 ;
}
main .dt-paging-button{
    border-radius: 8px !important;
    border: none !important;
}

main div.dt-container .dt-paging .dt-paging-button:hover{
    background: var(--bg-color);
    border: none;
}
main.light div.dt-container .dt-paging .dt-paging-button:hover:not(main.light div.dt-container .dt-paging .dt-paging-button.disabled){
    color: var(--logo2) !important;
}
main tbody tr td i{
    cursor: pointer;
    
}
main tbody .fa-circle-check,
main tbody .fa-arrows-rotate,
main tbody .fa-circle-xmark{
    margin-right: 8px !important;
    cursor: initial;
}
main tbody tr td.highlight{
    color: #c6cc16 !important;
}
main tbody tr td i.fa-pen-to-square:hover{
    color: var(--logo2)!important;
}

main tbody tr td i.fa-trash-can{
    color: red;
    margin-left: 8px;
}
main tbody tr td i.fa-trash-can:hover{
    color: rgb(128, 0, 0);
}
main table tbody div.options{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --------------- Modal CSS ------------------- */

main .modal .modal-content{
    background-color: var(--bg-color);
}
main .modal .modal-content .modal-header{
    border-bottom: solid 1px var(--logo2);
}
main .modal .modal-content .modal-header i{
    margin-right: 12px;
    font-size: 22px;
}
main .modal .modal-content .modal-body{
    color: var(--white);
}
main .modal .modal-content .modal-footer{
    border-top: solid 1px var(--logo2);
}
main .modal .modal-content .modal-footer #modalclosebtn{
    color: #fffdfd;
    background-color: transparent;
    border: solid 1px var(--gray);
}
main.light .modal .modal-content .modal-footer #modalclosebtn{
    color: black;
}

#modal-row-fullname{
    margin-top: 8px;
    color: var(--logo3);
}
#modal-row-fullname span{
    color: var(--logo2);
    font-size: 14px;
}

/* ----------- Second edit btn Modal CSS */
main .modal#editRequest .modal-body{
    padding-left: 22px !important;
    padding-right: 22px !important;
}
main .modal#editRequest .editRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
}
main .modal#editRequest .editRow .rowname {
    font-size: 15px;
}
main .modal#editRequest .editRow .rowname i {
    color: var(--logo2);
    margin-right: 6px;
    font-size: 18px;
    width: 20px;
}
main .modal#editRequest .editRow input, main .modal#editRequest .editRow textarea{
    width: 300px;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 200;
    color: var(--gray);
    cursor: default;
}
main.light .modal#editRequest .editRow input, main.light .modal#editRequest .editRow textarea{
    color: var(--black);
}
main .modal#editRequest .editRow textarea{
    border: solid 1px var(--logo2);
    cursor: initial;
}
main .modal#editRequest .editRow textarea:focus{
    outline: none;
    border-color: var(--logo3);
}
main .modal#editRequest .editRow select{
    width: 300px;
    background-color: var(--bg-color) !important;
    color: var(--gray);
    border: solid 1px var(--logo2);
}
main.light .modal#editRequest .editRow select{
    background-color: var(--bg-color) !important;
    color: var(--logo2);
}
main .modal#editRequest .editRow select option[value="2"]{
    color: var(--logo1) !important;
}

main .modal#editRequest #modalupdatebtn{
    background-color: var(--logo3) !important;
    border: none !important;
    color: white;
}

main .modal#editRequest #modalclosebtn1{
    color: #fffdfd;
    background-color: transparent;
    border: solid 1px var(--gray);
}
main.light .modal#editRequest #modalclosebtn1{
    color: black;
}

#dt-search-0:focus {
    border: var(--logo3) solid 1px !important;
}

.fa-sun,
.fa-moon{
    display: none;
    position: absolute;
    right: 35px;
    top: 29px;
    font-size: 18px;
    color: var(--logo2);
    cursor: pointer;
}

.fa-sun.active,
.fa-moon.active{
    display: block;
}